body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #f5f5ff;
}

.headerContainer {
    width: 100%;
    height: 44px;
    text-align: center;
    color: #d5d5d5;
    background-color: #363636;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.headerContainer__menu {
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

.headerContainer__menu li {
    display: inline;
    margin: 0 15px;
}

.headerContainer__menu-links {
    color: #f5f5f7;
    text-decoration: none;
}

.wrapper {
    width: 1280px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box1 {
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box2 {
    padding: 10px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.box3 {
    padding: 10px;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
}

.box4 {
    width: 593px;
    padding: 10px;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
}

.news-list {
    display: flex;
    flex-direction: column;
}

.news-item {
    margin-bottom: 20px;
}

.news-props {
    color: #696969;
}

.containerTabs {
    text-align: center;
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    padding: 25px;
}

.container__form-fieldset {
    border-radius: 20px;
    border: 1px solid #333333;
}

.container__form-title {
    margin: 0;
}

.container__form-input {
    width: 200px;
    height: 35px;
    display: block;
    margin: 10px auto;
    padding: 0 15px;
    border-radius: 25px;
    border: 1px solid #333333;
    outline: none;
    background: none;
}

.container__form-textArea {
    display: block;
    margin: 10px auto;
    padding: 15px 15px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    border: 1px solid #333333;
    background: none;
    outline: none;
    resize: none;
}

.container__form-changeDate {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    width: 200px;
    border: 1px solid #333333;
    border-radius: 25px;
    background: none;
    outline: none;
}

.container__form-changeGender{
    display: block;
}

.container__form-skills {
    display: block;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
    background: none;
    border: 1px solid #333333;
    border-radius: 15px;
    text-align: center;
    outline: none;
}

.container__form-loadResume {
    display: block;
    margin: 10px auto;
}

.container__form-button {
    display: block;
    margin: 15px auto;
    border: 1px solid #333333;
    border-radius: 25px;
    padding: 15px 35px;
    background: none;
    cursor: pointer;
}

.container__form-button:hover {
    background-color: #363636;
    color: #d5d5d5;
    transition: 0.5s;
}

.container__table-personal {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}

.container__table-personal td, th {
    border-bottom: 1px solid #333333;
    text-align: center;
    padding: 15px;
}

.container__list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.ol-list, .ul-list {
    text-align: left;
}

.ul-list li{
    list-style: none;
}

.ul-list li::before {
    content: '✔';
    margin: 5px;
}

.socialLinks {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.socialLinks img {
    height: 30px;
}


.footerContainer {
    text-align: center;
    color: #d8d8d8;
    padding: 50px;
    background: #333333;
}

.additional-info {
    padding: 15px;
    border-top: 1px solid #d8d8d8;
    text-align: center;
    color: #d8d8d8;
    background: #333333;
}

.additional-info a {
    text-decoration: none;
    color: #d8d8d8;
}

@media (max-width: 1280px) {
    .wrapper {
        width: 100%;
    }
    .box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .box2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .box3 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .box4 {
        width: auto;
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .containerTabs {
        margin: 0 auto;
        width: 80%;
    }

    .news-list {
        width: 85%;
        overflow: scroll;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .news-item {
        width: 150px;
        margin: 5px 15px;
    }

    .container__list {
        flex-direction: row;
    }
    .ol-list h3, .ul-list h3{
        text-align: center;
        font-size: 1rem;
    }
    .container {
        width: 100%;
    }
    .container__preview {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .container__form-fieldset {
        display: contents;
    }
    .container__form-input, .container__form-textArea, .container__form-changeDate {
        width: 80%;
    }
    .container__table {
        overflow: scroll;
    }
    .socialLinks{
        width: 70%;
    }
}

