.footerContainer {
    text-align: center;
    color: #d8d8d8;
    padding: 50px;
    background: #333333;
}
.socialLinks {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.socialLinks img {
    height: 30px;
}
.additional-info {
    padding: 15px;
    border-top: 1px solid #d8d8d8;
    text-align: center;
    color: #d8d8d8;
    background: #333333;
}

.additional-info a {
    text-decoration: none;
    color: #d8d8d8;
}
@media (max-width: 1280px) {
    .socialLinks{
        width: 70%;
    }
}
