.news-button {
    display: block;
    margin: 15px auto;
    border: 1px solid #333333;
    border-radius: 25px;
    padding: 15px 35px;
    background: none;
    outline: none;
    cursor: pointer;
}
.news-button:hover {
    background-color: #363636;
    color: #d5d5d5;
    transition: 0.5s;
}
